<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Annotated Heat Map with Plotly.js Charts</title>
  
  
  
  
  
</head>

<body>

  <head>

  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
 <!--  <%= employeeData  %> -->
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
  </script>
</body>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>

<script>
  var employeeData = <%- JSON.stringify(employeeData) %>;
  var totalEmployees = <%- JSON.stringify(totalEmployees) %>;

  console.log("totalEmployees " +totalEmployees);
  </script>
    <script  src="js/visualize1.js"></script>



</body>

</html>
